# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
assets/*.map

# Environment variables
.env
.env.*
!.env.example

# Shopify CLI / config
.shopify*
.shopify-cli.yml

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Logs
logs/
*.log

# Mac/Linux temp files
*.swp
*.swo