.button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.button-grid--left {
  justify-content: flex-start;
}

.button-grid--right {
  justify-content: flex-end;
}
