// Converted from section-featured-blog.css
@use '../utilities/mixins' as *;
.blog-placeholder-svg {
  height: 100%;
}

@include breakpoint-md {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog {
  &__title {
    margin: 0;
  }

  &__posts {
    &.articles-wrapper {
      margin-bottom: 1rem;

      @include breakpoint-md {
        margin-bottom: 0;
      }

      .article {
        scroll-snap-align: start;
      }
    }

    .card-wrapper {
      width: 100%;
    }
  }

  &__post {
    &.article {
      width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));

      @include breakpoint-sm {
        width: auto;
      }
    }
  }

  &__button {
    margin-top: 3rem;

    @include breakpoint-sm {
      margin-top: 5rem;
    }
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @include breakpoint-sm {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
