// Converted from section-rich-text.css
@use '../utilities/mixins' as *;
.rich-text {
  z-index: 1;

  &:not(.rich-text--full-width) .rich-text__wrapper {
    margin: auto;
    width: calc(100% - 8rem);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: calc(100% - 4rem);

    @include breakpoint-sm {
      width: 100%;
    }

    &--left {
      @include breakpoint-sm {
        justify-content: flex-start;
      }
    }

    &--right {
      @include breakpoint-sm {
        justify-content: flex-end;
      }
    }
  }

  &__blocks {
    width: 100%;

    @include breakpoint-sm {
      max-width: 50rem;
    }

    @include breakpoint-md {
      max-width: 78rem;
    }

    * {
      overflow-wrap: break-word;
    }

    > * {
      margin-top: 0;
      margin-bottom: 0;

      + * {
        margin-top: 2rem;
      }

      + a {
        margin-top: 3rem;
      }
    }

    &.left .rich-text__buttons {
      justify-content: flex-start;
    }

    &.right .rich-text__buttons {
      justify-content: flex-end;
    }
  }

  &__buttons {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 45rem;
    word-break: break-word;

    &--multiple > * {
      flex-grow: 1;
      min-width: 22rem;
    }

    + .rich-text__buttons {
      margin-top: 1rem;
    }
  }
}
