/* =========================
   Button
========================= */

.button {
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 1.5rem 3rem;
  text-decoration: none;
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-label));
  min-width: 12rem;
  height: auto;
  font-size: inherit;
  letter-spacing: 0.1rem;
  line-height: var(--font-body-line-height);
  position: relative;

  /* shared vars */
  --shadow-horizontal-offset: var(--buttons-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--buttons-shadow-vertical-offset);
  --shadow-blur-radius: var(--buttons-shadow-blur-radius);
  --shadow-opacity: var(--buttons-shadow-opacity);
  --shadow-visible: var(--buttons-shadow-visible);
  --border-offset: var(--buttons-border-offset);
  --border-opacity: calc(1 - var(--buttons-border-opacity));

  border-radius: var(--buttons-radius-outset);
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);

  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));

  &::selection {
    background-color: rgba(var(--color-button-text), 0.3);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: var(--buttons-radius-outset);
  }

  &::after {
    content: '';
    position: absolute;
    inset: var(--buttons-border-width);
    z-index: 1;
    border-radius: var(--buttons-radius);
  }

  &:not([disabled]):hover,
  &:not([disabled]):active {
    background-color: rgb(var(--color-button-hover));
  }

  &:not([disabled]):hover::after {
    --border-offset: 1.3px;
  }

  &:focus,
  &:focus-visible,
  &.focused {
    outline: 0;
  }

  &:disabled,
  &[aria-disabled='true'],
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* =========================
     Modifiers
  ========================= */

  &--secondary {
    color: rgb(var(--color-secondary-button-text));
    background-color: transparent;
    border: var(--buttons-border-width) solid rgba(var(--color-secondary-button-text), var(--buttons-border-opacity));

    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text);
    --color-button-hover: var(--color-secondary-button-hover);

    &::after {
      --border-opacity: var(--buttons-border-opacity);
    }
  }

  &--tertiary {
    --color-button: var(--color-secondary-button);
    --color-button-text: var(--color-secondary-button-text);
    --color-button-hover: var(--color-secondary-button-hover);

    --alpha-button-background: 0;
    --alpha-button-border: 0.2;

    font-size: var(--font-small);
    padding: 1rem 1.5rem;
    min-width: calc(9rem + var(--buttons-border-width) * 2);
    min-height: calc(3.5rem + var(--buttons-border-width) * 2);
  }

  &--small {
    padding: 1.2rem 2.6rem;
  }

  &--full-width {
    display: flex;
    width: 100%;
  }

  &.loading {
    color: transparent;

    > .loading__spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      display: flex;
      align-items: center;

      .spinner {
        width: fit-content;
      }

      .path {
        stroke: rgb(var(--color-button-text));
      }
    }
  }
}

/* forced colors */
@media (forced-colors: active) {
  .button {
    border: transparent solid 1px;

    &.loading {
      color: rgb(var(--color-foreground));
    }
  }
}


/* =========================
   Shopify Accelerated Checkout
========================= */

shopify-accelerated-checkout,
shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-border-radius: var(--buttons-radius-outset);
  --shopify-accelerated-checkout-button-box-shadow:
          var(--shadow-horizontal-offset)
          var(--shadow-vertical-offset)
          var(--shadow-blur-radius)
          rgba(var(--color-shadow), var(--shadow-opacity));
}


/* =========================
   Share Button
========================= */

.share-button {
  display: block;
  position: relative;

  details {
    width: fit-content;
  }

  &__button {
    font-size: inherit;
    display: flex;
    align-items: center;
    color: rgb(var(--color-link));
    padding-left: 0;
    min-height: 4.4rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }

    .icon-share {
      height: 1.2rem;
      margin-right: 1rem;
      min-width: 1.3rem;
    }
  }

  &__fallback {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 0.1rem;
    z-index: 3;
    width: 100%;
    min-width: max-content;
    border-radius: var(--inputs-radius);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgb(var(--color-background));
      border-radius: var(--inputs-radius-outset);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: var(--inputs-border-width);
      border: 0.1rem solid transparent;
      border-radius: var(--inputs-radius);
      z-index: 1;
    }

    button {
      width: 4.4rem;
      height: 4.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: rgba(var(--color-foreground), 0.75);

        .svg-wrapper {
          transform: scale(1.07);
        }
      }
    }

    .field {
      border-radius: 0;
      min-width: auto;
      min-height: auto;

      &::before,
      &::after {
        content: none;
      }

      &__input {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:focus,
        &:-webkit-autofill {
          outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
          outline-offset: 0.1rem;
        }
      }
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__close,
  &__copy {
    background: transparent;
    color: rgb(var(--color-foreground));

    &:focus,
    &:focus-visible {
      background-color: rgb(var(--color-background));
      z-index: 2;
    }
  }

  &__message {
    &:not(:empty) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0.8rem 0 0.8rem 1.5rem;
      margin: var(--inputs-border-width);
    }

    &:not(:empty):not(.hidden) ~ * {
      display: none;
    }
  }
}