// section-header
.section-header {
  &.shopify-section-group-header-group {
    z-index: 3;
  }

  &.animate {
    transition: top 0.15s ease-out;
  }

  ~ .shopify-section-group-header-group {
    z-index: initial;
  }
}

.shopify-section-header {
  &-sticky {
    position: sticky;
    top: 0;
  }

  &-hidden {
    top: calc(-1 * var(--header-height));

    &.menu-open {
      top: 0;
    }
  }
}

.shopify-section-group-header-group {
  z-index: 4;
}


// Main Header Layout
.header-wrapper {
  display: block;
  position: relative;
  background-color: rgb(var(--color-background));

  &--border-bottom {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  // Absolute Header Mode
  &.header-wrapper--absolute {
    background-color: transparent;
    background: transparent;
    transition: background-color 0.3s ease, background 0.3s ease, border-bottom-color 0.3s ease;
    position: absolute;
    width: 100%;
    .list-menu__item{
      color: #ffffff;
    }

    .svg-wrapper .icon{
      color: #fff;
    }



    &.header-wrapper--border-bottom {
      border-bottom-color: transparent;
    }
  }
}

.list-menu--inline{
  align-items: center;
  justify-content: center;
  display: flex !important;
}

.scrolled-past-header {
  .header-wrapper {
    &--absolute {
      background-color: var(--sticky-header-bg, rgb(var(--color-background)));
      background: var(--sticky-header-bg, rgb(var(--color-background)));
      border-bottom-color: rgba(var(--color-foreground), 0.08);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

      .header__heading-logo {
        &--primary {
          display: none;
        }

        &--secondary {
          display: block;
        }
      }
      .list-menu__item{
        color: rgb(var(--color-foreground));
      }

      .svg-wrapper .icon{
        color: rgb(var(--color-foreground));
      }
    }
  }

  .shopify-section-header-sticky {
    .header-wrapper:not(.header-wrapper--absolute) {
      background-color: var(--sticky-header-bg);
    }
  }
}


// Secondary logo
.header__heading-logo {
  &--secondary {
    display: none;
  }
}


.header {
  display: grid;
  grid-template-areas: 'left-icons heading icons';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  *[tabindex='-1']:focus {
    outline: none;
  }

  > .header__heading-link {
    line-height: 0;
  }

  &__heading {
    margin: 0;
    line-height: 0;
    grid-area: heading;
    justify-self: center;
  }

  &__heading-link {
    grid-area: heading;
    justify-self: center;
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;

    &:hover {
      .h2 {
        color: rgb(var(--color-foreground));
      }
    }

    .h2 {
      line-height: var(--font-heading-line-height);
      color: rgba(var(--color-foreground), 0.75);
    }
  }

  &__heading-logo {
    height: auto;
    max-width: 100%;

    &-wrapper {
      width: 100%;
      display: inline-block;
      transition: width 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
    }
  }

  &__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: 0.8rem;

    .shopify-app-block {
      max-width: 4.4rem;
      max-height: 4.4rem;
      overflow: hidden;
    }
  }

  &__icon {
    color: rgb(var(--color-foreground));
    height: 4.4rem;
    width: 4.4rem;
    padding: 0;

    &:not(.header__icon--summary),
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      height: 100%;
    }

    .svg-wrapper {
      width: 44px;
      height: 44px;
    }

    &::after {
      content: none;
    }

    &:hover {
      .icon {
        transform: scale(1.07);
      }
    }

    .icon {
      height: 2rem;
      width: 2rem;
      fill: none;
      vertical-align: middle;
    }

    &--cart {
      position: relative;
      margin-right: -1.2rem;

      .icon {
        height: 4.4rem;
        width: 4.4rem;
        padding: 0;
      }
    }

    &--menu {
      .icon {
        display: block;
        position: absolute;
        opacity: 1;
        transform: scale(1);
        transition: transform 150ms ease, opacity 150ms ease;
      }

      &[aria-expanded='true'] {
        &::before {
          content: '';
          top: 100%;
          left: 0;
          height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
          width: 100%;
          display: block;
          position: absolute;
          background: rgba(var(--color-foreground), 0.5);
        }
      }
    }

    &--account {
      shop-user-avatar {
        --shop-avatar-size: 2.8rem;
      }
    }
  }

  &__icon-close {
    display: none;
  }

  &__inline-menu {
    margin-left: -1.2rem;
    grid-area: navigation;
    display: none;
  }

  &__menu {
    padding: 0 1rem;
  }

  &__menu-item {
    padding: 1.5rem;
    text-decoration: none;
    color: rgba(var(--color-foreground), 0.75);

    &:hover {
      color: rgb(var(--color-foreground));

      span {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }

      .header__active-menu-item {
        text-decoration-thickness: 0.2rem;
      }
    }

    span {
      transition: text-decoration var(--duration-short) ease;
    }

    .icon-caret {
      right: 0.8rem;
    }
  }

  &__active-menu-item {
    transition: text-decoration-thickness var(--duration-short) ease;
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  &__submenu {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;

    &.list-menu {
      padding: 1rem 0;
    }

    .header__submenu {
      background-color: rgba(var(--color-foreground), 0.03);
      padding: 1rem 0;
      margin: 1rem 0;
    }

    .header__menu-item {
      justify-content: space-between;
      padding: 0.8rem 2rem;

      &:after {
        right: 2rem;
      }

      &:hover {
        text-decoration-line: underline;
      }
    }

    .icon-caret {
      flex-shrink: 0;
      margin-left: 1rem;
      position: static;
    }
  }

  // Layout modifiers
  &--has-app {
    @media screen and (max-width: 749px) {
      grid-template-columns: auto 1fr auto;
    }
  }

  &--mobile-left {
    @media screen and (max-width: 989px) {
      grid-template-columns: auto 2fr 1fr;

      .header__heading,
      .header__heading-link {
        text-align: left;
        justify-self: start;
      }
    }
  }

  @media screen and (max-width: 989px) {
    &__heading,
    &__heading-link {
      text-align: center;
    }
  }

  @media screen and (min-width: 990px) {
    grid-template-columns: 1fr auto 1fr;

    &--top-left,
    &--middle-left:not(.header--has-menu) {
      grid-template-areas:
        'heading icons'
        'navigation navigation';
      grid-template-columns: 1fr auto;
    }

    &--top-left.drawer-menu,
    &--middle-left.drawer-menu {
      grid-template-areas: 'navigation heading icons';
      grid-template-columns: auto 1fr auto;
      column-gap: 1rem;
    }

    &--middle-left {
      grid-template-areas: 'heading navigation icons';
      grid-template-columns: auto 1fr auto;
      column-gap: 2rem;

      .header__heading-link {
        margin-left: -0.75rem;
      }

      .header__inline-menu {
        margin-left: 0;
      }
    }

    &--middle-center {
      &:not(.drawer-menu) {
        grid-template-areas: 'navigation heading icons';
        grid-template-columns: 1fr auto 1fr;
        column-gap: 2rem;
      }

      .header__heading-link,
      .header__heading {
        justify-self: center;
        text-align: center;
      }

      a.header__heading-link {
        text-align: center;
      }
    }

    &--top-center {
      grid-template-areas:
        'left-icons heading icons'
        'navigation navigation navigation';

      &.drawer-menu {
        grid-template-areas: 'left-icons heading icons';
        grid-template-columns: 1fr auto 1fr;
      }

      .header__inline-menu,
      .header__heading-link {
        margin-left: 0;
      }

      .header__inline-menu {
        justify-self: center;

        > .list-menu--inline {
          justify-content: center;
        }
      }

      .header__heading-link,
      .header__heading {
        justify-self: center;
        text-align: center;
      }
    }

    &:not(.header--middle-left, .header--middle-center) {
      .header__inline-menu {
        margin-top: 1.05rem;
      }
    }

    &__inline-menu {
      display: block;
    }

    &__heading,
    &__heading-link {
      justify-self: start;
    }

    &--top-left {
      .header__heading-link {
        margin-left: -0.75rem;
      }
    }
  }
}


// details / open states
details {
  .header__icon-close {
    display: none;
  }

  &[open] {
    .header__icon-close {
      display: inline-block;
    }

    > .header__menu-item {
      text-decoration: underline;

      .icon-caret {
        transform: rotate(180deg);
      }
    }

    &:hover {
      > .header__menu-item {
        text-decoration-thickness: 0.2rem;
      }
    }

    > .header__submenu {
      animation: animateMenuOpen var(--duration-default) ease;
      animation-fill-mode: forwards;
      z-index: 1;
    }
  }

  &:not([open]) {
    > .header__icon--menu {
      .icon-close {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
      }
    }
  }
}

details[open] {
  > .header__icon--menu {
    .icon-hamburger {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.8);
    }
  }
}

.js {
  details {
    &[open]:not(.menu-opening) {
      > .header__icon--menu {
        .icon-close {
          visibility: hidden;
        }

        .icon-hamburger {
          visibility: visible;
          opacity: 1;
          transform: scale(1.07);
        }
      }
    }

    > .header__submenu {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
  }
}

@media (prefers-reduced-motion) {
  details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
  }
}


// Standalone components/selectors
account-icon {
  display: flex;
}

header-menu > details,
details-disclosure > details {
  position: relative;
}

.modal__close-button {
  &:hover {
    .icon {
      transform: scale(1.07);
    }
  }
}

.global-settings-popup,
.header__submenu.global-settings-popup {
  border-radius: var(--popup-corner-radius);
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
  rgba(var(--color-shadow), var(--popup-shadow-opacity));
  z-index: -1;
}


@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


// Utility classes
.overflow-hidden {
  &-mobile,
  &-tablet,
  &-desktop {
    overflow: hidden;
  }
}

@media screen and (min-width: 750px) {
  .overflow-hidden-mobile {
    overflow: auto;
  }
}

@media screen and (min-width: 990px) {
  .overflow-hidden-tablet {
    overflow: auto;
  }
}


.badge {
  border: 1px solid transparent;
  border-radius: var(--badge-corner-radius);
  display: inline-block;
  font-size: var(--font-small);
  letter-spacing: 0.1rem;
  line-height: var(--font-body-line-height);
  padding: 0.5rem 1.3rem 0.6rem 1.3rem;
  text-align: center;
  background-color: rgb(var(--color-badge-background));
  border-color: rgba(var(--color-badge-border), var(--alpha-badge-border));
  color: rgb(var(--color-badge-foreground));
  word-break: break-word;
}

.secondary-background {
  background: rgb(var(--color-secondary-background));
}

@media screen and (forced-colors: active) {
  .icon {
    color: CanvasText;
    fill: CanvasText !important;
  }

  .icon-close-small {
    path {
      stroke: CanvasText;
    }
  }
}


.ratio {
  display: flex;
  position: relative;
  align-items: stretch;

  &::before {
    content: '';
    width: 0;
    height: 0;
    padding-bottom: var(--ratio-percent);
  }
}


.content-container {
  border-radius: var(--text-boxes-radius);
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: calc(var(--text-boxes-border-width) * -1);
    right: calc(var(--text-boxes-border-width) * -1);
    bottom: calc(var(--text-boxes-border-width) * -1);
    left: calc(var(--text-boxes-border-width) * -1);
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
    z-index: -1;
  }

  &--full-width {
    &::after {
      left: 0;
      right: 0;
      border-radius: 0;
    }
  }

  &--full-width-mobile {
    @media screen and (max-width: 749px) {
      border-left: none;
      border-right: none;
      border-radius: 0;

      &::after {
        display: none;
      }
    }
  }
}


.global-media-settings {
  position: relative;
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  overflow: visible !important;
  background-color: rgb(var(--color-background));

  &::after {
    content: '';
    position: absolute;
    top: calc(var(--media-border-width) * -1);
    right: calc(var(--media-border-width) * -1);
    bottom: calc(var(--media-border-width) * -1);
    left: calc(var(--media-border-width) * -1);
    border-radius: var(--media-radius);
    box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
    z-index: -1;
    pointer-events: none;
  }

  &--no-shadow {
    overflow: hidden !important;

    &::after {
      content: none;
    }
  }

  img,
  iframe,
  model-viewer,
  video,
  .placeholder-svg {
    border-radius: calc(var(--media-radius) - var(--media-border-width));
  }

  &--full-width,
  &--full-width img,
  &--full-width video,
  &--full-width iframe,
  &--full-width .placeholder-svg {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

.content-container--full-width,
.global-media-settings--full-width,
.global-media-settings--full-width img,
.global-media-settings--full-width video,
.global-media-settings--full-width iframe,
.global-media-settings--full-width .placeholder-svg {
  border-radius: 0;
  border-left: none;
  border-right: none;
}