// Converted from base.css: Media component
@use '../utilities/mixins' as *;
/* component-media */
.media {
  display: block;
  background-color: rgba(var(--color-foreground), 0.1);
  position: relative;
  overflow: hidden;

  &--transparent {
    background-color: transparent;
  }

  > *:not(.zoom):not(.deferred-media__poster-button) {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  model-viewer {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  > img {
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &--square {
    padding-bottom: 100%;
  }

  &--portrait {
    padding-bottom: 125%;
  }

  &--landscape {
    padding-bottom: 66.6%;
  }

  &--cropped {
    padding-bottom: 56%;

    @include breakpoint-md {
      padding-bottom: 63%;
    }
  }

  &--16-9 {
    padding-bottom: 56.25%;
  }

  &--circle {
    padding-bottom: 100%;
    border-radius: 50%;
  }

  &.media--hover-effect > img + img {
    opacity: 0;
  }
}

deferred-media {
  display: block;
}
