// Converted from component-discounts.css
@use '../utilities/mixins' as *;

.discounts {
  font-size: var(--font-small);

  &__discount {
    display: flex;
    align-items: center;
    line-height: var(--font-body-line-height);

    svg {
      color: rgba(var(--color-button), var(--alpha-button-background));
    }

    > .icon {
      color: rgb(var(--color-foreground));
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.7rem;
    }

    &--position {
      justify-content: center;

      @include breakpoint-sm {
        justify-content: flex-end;
      }
    }
  }
}
