.mega-menu {
  position: static;

  &__content {
    background-color: rgba(var(--color-background), 0.95);
    border-left: 0;
    border-right: 0;
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    overflow-y: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: var(--page-width);
    margin: 0 auto;
    border-radius: var(--buttons-radius-outset);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);


    .shopify-section-header-sticky & {
      max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
    }

    .header-wrapper--border-bottom & {
      border-top: 0;
    }

    .js & {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
  }

  &[open] &__content {
    opacity: 1;
    transform: translateY(0);
  }

  &__list {
    display: grid;
    gap: 1.8rem 4rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    list-style: none;

    &--condensed {
      display: block;

      & .mega-menu__link {
        font-weight: var(--font-body-weight);
      }
    }
  }

  &__link {
    color: #000;
    display: block;
    padding: 0.6rem 0;
    text-decoration: none;
    word-wrap: break-word;
    transition: text-decoration var(--duration-short) ease;

    &--level-2 {
      font-weight: var(--font-body-weight-bold);
      color: rgb(var(--color-secondary-background));
      margin-bottom: 1.5rem;
      padding: 0;
    }

    &:hover,
    &--active {
      color: rgb(var(--color-foreground));
      text-decoration: underline;
    }

    &--active:hover {
      text-decoration-thickness: 0.2rem;
    }
  }

  .header--top-center &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0;

    > li {
      width: 16%;
      padding-right: 2.4rem;
    }
  }
}