// Converted from component-price.css
@use '../utilities/mixins' as *;

.price {
  color: #000;

  > * {
    display: inline-block;
    vertical-align: top;
  }

  &.price--unavailable {
    visibility: hidden;
  }

  .price-item {
    display: inline-block;
    margin: 0 1rem 0 0;
  }

  &:not(.price--show-badge) .price-item--last:last-of-type {
    margin: 0;
  }

  @include breakpoint-sm {
    margin-bottom: 0;
  }

  &--end {
    text-align: right;
  }

  &--large {
    font-size: inherit;
    line-height: var(--font-body-line-height);
    letter-spacing: 0.13rem;

    @include breakpoint-sm {
      font-size: var(--font-h4);
    }
  }

  &--sold-out {
    .price__availability {
      display: block;
    }

    .price__badge-sold-out {
      display: inline-block;
    }
  }

  &--on-sale {
    .price__regular,
    .price__availability {
      display: none;
    }

    .price__badge-sale {
      display: inline-block;
    }

    .price__sale {
      display: initial;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .price-item--regular {
      text-decoration: line-through;
      color: rgba(var(--color-foreground), 0.75);
      font-size: var(--font-small);
    }
  }

  &--center {
    display: initial;
    justify-content: center;
  }

  &__regular {
    display: block;

    .price-item--regular {
      margin-right: 0;
    }
  }

  &__sale,
  &__availability {
    display: none;
  }

  &__badge-sale,
  &__badge-sold-out {
    display: none;
  }
}

.volume-pricing--sale-badge .price__badge-sale {
  display: inline-block;
  margin-left: 0.5rem;
}

.unit-price {
  display: block;
  font-size: var(--font-small);
  letter-spacing: 0.04rem;
  line-height: var(--font-body-line-height);
  margin-top: 0.2rem;
  color: rgba(var(--color-foreground), 0.7);
}
