// Converted from component-totals.css
@use '../utilities/mixins' as *;

.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  > * {
    font-size: inherit;
    margin: 0;
  }

  > h2 {
    font-size: inherit;
  }

  * {
    line-height: var(--font-body-line-height);
  }

  > * + * {
    margin-left: 2rem;
  }

  &__total {
    margin-top: .5rem;
  }

  &__total-value {
    font-size: var(--font-h4);
  }

  @include breakpoint-sm {
    justify-content: flex-end;
  }
}

.cart__ctas + .totals {
  margin-top: 2rem;
}
