// Converted from component-volume-pricing.css

volume-pricing {
  display: block;
  margin-top: 2rem;

  li:nth-child(odd) {
    background: rgba(var(--color-foreground), 0.04);
  }

  ul {
    margin-top: 1.2rem;
  }

  li {
    font-size: inherit;
    letter-spacing: 0.06rem;
    padding: 0.6rem 0.8rem;
    display: flex;
    justify-content: space-between;
  }

  .label-show-more {
    font-size: var(--font-small);
    letter-spacing: 0.07rem;
  }

  show-more-button {
    margin-top: 0.8rem;
  }
}

div.volume-pricing-note {
  margin-top: -2.6rem;
}

.volume-pricing-note {
  span {
    font-size: var(--font-small);
    letter-spacing: 0.07rem;
  }
}

.product--no-media {
  .volume-pricing-note {
    text-align: center;
  }

  volume-pricing {
    width: 30rem;
  }
}

.product-form__input {
  price-per-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .price-per-item {
    color: rgba(var(--color-foreground));
    font-size: inherit;
    letter-spacing: 0.06rem;
  }
}

.price-per-item {
  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .variant-item__old-price {
      color: rgba(var(--color-foreground), 0.75);
      font-size: var(--font-small);
      letter-spacing: 0.07rem;
    }
  }

  dl {
    margin: 0;
  }

  dd {
    margin-left: 0;
  }
}

.price__regular .variant-item__old-price {
  color: rgba(var(--color-foreground), 0.75);
  font-size: var(--font-small);
  letter-spacing: 0.07rem;
}
