
.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: auto;
  isolation: isolate;

  &__box {
       padding: 6rem 1.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;

    > *:first-child {
      margin-top: 0;
    }

    > * + * {
      margin-top: 1rem;
    }

    > * + .banner__text {
      margin-top: 1.5rem;

      @include breakpoint-md {
        margin-top: 2rem;
      }
    }

    @include breakpoint-sm {
      &.banner--mobile-bottom {
        padding: 4rem 3.5rem;
      }

      &.banner--stacked {
        width: 100%;
      }
    }

    @include breakpoint-md {
      width: auto;
      max-width: 71rem;
      min-width: 45rem;

      &.banner--desktop-transparent {
        padding: 4rem 0;
        background: transparent;
        max-width: 89rem;
        border: none;
        border-radius: 0;
        box-shadow: none;

        .button--secondary {
          --alpha-button-background: 0;
        }

        .content-container:after {
          display: none;
        }
      }
    }

    @media screen and (min-width: 1400px) {
      max-width: 90rem;
    }
  }

  &__heading {
    margin-bottom: 0;

    + * {
      margin-top: 1rem;
    }
  }

  &__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;

    > * + .banner__buttons {
      margin-top: 2rem;
    }

    &--multiple {
      @include breakpoint-sm {
        .banner--content-align-mobile-right & {
          justify-content: flex-end;
        }

        .banner--content-align-mobile-center & > * {
          flex-grow: 1;
          min-width: 22rem;
        }
      }

      @include breakpoint-md {
        .banner--content-align-center & > * {
          flex-grow: 1;
          min-width: 22rem;
        }

        .banner--content-align-right & {
          justify-content: flex-end;
        }
      }
    }
  }

  &__media {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &.animate--zoom-in {
      clip-path: inset(0px);

      > img:not(.zoom):not(.deferred-media__poster-button),
      > svg:not(.zoom):not(.deferred-media__poster-button) {
        position: fixed;
        height: 100vh;
      }
    }

    @include breakpoint-sm {
      .banner--small.banner--mobile-bottom:not(.banner--adapt) &,
      .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) & {
        height: 28rem;
      }

      .banner--medium.banner--mobile-bottom:not(.banner--adapt) &,
      .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) & {
        height: 34rem;
      }

      .banner--large.banner--mobile-bottom:not(.banner--adapt) &,
      .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) & {
        height: 39rem;
      }

      .banner--stacked .banner__media-half {
        width: 100%;

        & + & {
          order: 1;
        }
      }
    }

    @include breakpoint-md {
      height: 100%;
    }
  }

  &__media-half {
    width: 50%;

    + & {
      right: 0;
      left: auto;
    }

    &.animate--fixed:first-child,
    &.animate--zoom-in:first-child {
      > img {
        width: 50%;
      }
    }

    &.animate--fixed:nth-child(2),
    &.animate--zoom-in:nth-child(2) {
      > img {
        left: 50%;
        width: 50%;
      }
    }
  }

  &__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @include breakpoint-md {
      padding: 5rem;

      &--top-left {
        align-items: flex-start;
        justify-content: flex-start;
      }

      &--top-center {
        align-items: flex-start;
        justify-content: center;
      }

      &--top-right {
        align-items: flex-start;
        justify-content: flex-end;
      }

      &--middle-left {
        align-items: center;
        justify-content: flex-start;
      }

      &--middle-center {
        align-items: center;
        justify-content: center;
      }

      &--middle-right {
        align-items: center;
        justify-content: flex-end;
      }

      &--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
      }

      &--bottom-center {
        align-items: flex-end;
        justify-content: center;
      }

      &--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    @include breakpoint-sm {
      .banner--mobile-bottom:not(.banner--stacked) & {
        order: 2;
      }
    }
  }

  &__box {
    @include breakpoint-sm {
      &.banner--mobile-bottom {
        padding: 4rem 3.5rem;
      }

      .banner--stacked & {
        width: 100%;
      }
    }

    @include breakpoint-md {
      max-width: 71rem;
      min-width: 45rem;
    }

    @media screen and (min-width: 1400px) {
      max-width: 90rem;
    }
  }

  &::after,
  &__media::after {
    content: '';
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}